<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="guildWars2api" type="GuildWars2Events.Configuration.GuildWars2APIConfiguration, GuildWars2Events.Configuration" />
  </configSections>
  <guildWars2api>
    <apis>
      <api name="World" uri="https://api.guildwars2.com/v1/world_names.json" />
      <api name="Events" uri="https://api.guildwars2.com/v1/events.json" />
      <api name="EventNames" uri="https://api.guildwars2.com/v1/event_names.json" />
      <api name="MapNames" uri="https://api.guildwars2.com/v1/map_names.json" />
    </apis>
  </guildWars2api>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CouchbaseServer" value="http://cbs1.guildwars2events.net:8091/pools"/>
    <add key="Interval" value="5"/><!--Interval in seconds-->
    <add key="MinutesBeforeAWorldBecomesInactive" value="30"/>
  </appSettings>
</configuration>