<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CouchbaseServer" value="http://10.211.55.3:8091/pools"/>
    <add key="Interval" value="10"/><!--Interval in seconds-->
  </appSettings>
</configuration>